<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WonderLust</title>

  <!-- Google Fonts: Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- social-icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/starability.css">
</head>

<body id="app-body">

  <%- include("../includes/navbar.ejs") %>
    <% if (success.length> 0) { %>
      <div class="flash success">
        <%= success[0] %>
      </div>
      <% } %>

        <% if (error.length> 0) { %>
          <div class="flash error">
            <%= error[0] %>
          </div>
          <% } %>


            <main id="page-wrapper">
              <%- body %>

            </main>

            <%- include("../includes/footer.ejs") %>
              <script>
                setTimeout(() => {
                  const flashes = document.querySelectorAll(".flash");
                  flashes.forEach(flash => {
                    flash.classList.add("hide");
                    setTimeout(() => flash.remove(), 400);
                  });
                }, 4000);
              </script>

              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>