<% layout("/layouts/boilerplate") %>
    <section id="listing-page">
       

        <div class="listing-grid">

            <% for(let listing of listings){ %>
                <div class="listing-card">

                    <div class="image-wrapper">
                        <span class="like-btn" onclick="toggleLike(this)">♡</span>

                        <a href="/listings/<%= listing._id %>">
                            <img class="listing-image" src="<%= listing.image[0] %>" alt="<%= listing.title %>"
                                 loading="lazy">
                        </a>
                    </div>

                    <div class="listing-info">
                        <a href="/listings/<%= listing._id %>" class="listing-link">
                            <h3 class="listing-title">
                                <%= listing.title %>
                            </h3>
                        </a>
                        <p class="listing-location"><%= listing.location %>, <%= listing.country %></p>
                        <p class="listing-price">
                            <b>₹<%= listing.price ? Number(listing.price).toLocaleString("en-IN") : "N/A" %></b>
                            <span>night</span>
                        </p>
                    </div>

                </div>
                <% } %>

        </div>
    </section>

    <script>
        function toggleLike(btn) {
            btn.classList.toggle("liked");
            btn.innerText = btn.classList.contains("liked") ? "♥" : "♡";
        }
    </script>